[submodule "kilroyweb"]
	path = kilroyweb
    url = https://github.com/kilroybot/kilroyweb.git
    update = rebase

[submodule "grpc-web-proxy"]
	path = grpc-web-proxy
    url = https://github.com/kilroybot/grpc-web-proxy.git
    update = rebase

[submodule "cilroy"]
	path = cilroy
    url = https://github.com/kilroybot/cilroy.git
    update = rebase

[submodule "kilroy-face-discord"]
	path = kilroy-face-discord
    url = https://github.com/kilroybot/kilroy-face-discord.git
    update = rebase

[submodule "kilroy-face-twitter"]
	path = kilroy-face-twitter
    url = https://github.com/kilroybot/kilroy-face-twitter.git
    update = rebase

[submodule "kilroy-module-huggingface"]
	path = kilroy-module-huggingface
    url = https://github.com/kilroybot/kilroy-module-huggingface.git
    update = rebase

[submodule "proto"]
	path = proto
    url = https://github.com/kilroybot/proto.git
    update = rebase

[submodule "assets"]
	path = assets
    url = https://github.com/kilroybot/assets.git
    update = rebase
